@{
    Layout = "_Layout";
}

@using System.Security.Claims

<h2>Authentication with Identity</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <h4><strong>Hello</strong>, @User.Identity.Name! You have been successfuly logged in.</h4>
}
else
{
    <h4>You have been logged out. Have a nice day!</h4>
}