@{
  Layout = "_Layout";
}

@using Candyman.ViewModels

@model LoginViewModel

<h2>Log In</h2>
<hr />
@using (Html.BeginForm())
{
    <label>Enter your Email:</label>
    @Html.TextBoxFor(user => user.Email)

    <label>Enter your Password:</label>
    @Html.PasswordFor(user => user.Password)

    <input type="submit" value="Log in" class="btn btn-success" required/>
}