@{
  Layout = "_Layout";
}

@using Candyman.ViewModels;

@model RegisterViewModel;

<h2>Registration</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <label>Enter your Email:</label>
    <br>
    @Html.TextBoxFor(user=> user.Email)
    <br>
    <label>Enter your Password:</label>
    <br>
    @Html.PasswordFor(user=> user.Password)
    <br>
    <label>Please Re-enter your Password:</label>
    <br>
    @Html.PasswordFor(user=> user.ConfirmPassword)

    <input type="submit" value="Register" class="btn btn-success" required/>
}