@{
  Layout = "_Layout";
}

@using System.Security.Claims
@model Candyman.Models.Treat

@if (User.Identity.IsAuthenticated)
{
  <h4>&#127852; Add a new Candy! &#127852;</h4>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.Label("Select a Flavor!")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Add Treat" class="btn btn-success" />
  }
}