@{
  Layout = "_Layout";
}

@using System.Security.Claims
@model Candyman.Models.Treat

@if (User.Identity.IsAuthenticated)
{
  <h1 id="warning">WARNING!</h1>
  <h3><em>You will be removing this treat from the system. Are you sure?</em></h3>
  <label>Name of Treat:</label>
  @Html.DisplayFor(model => model.Name)
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" />
  }
}