@{
  Layout = "_Layout";
}

@using Candyman.Models;
@model IEnumerable<Candyman.Models.Treat>

<h1>&#128512; A treat for @User.Identity.Name &#128512;</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
    }
  </ul>
} 
else
{
  <h3>&#128533; There aren't any treats to choose from. &#128533;</h3>
}

<p>&#128516; <em>Would you like to add some?</em> &#128516;</p>
<h3>@Html.ActionLink("Add A Treat", "Create", "Treats")</h3>