@{
  Layout = "_Layout";
}

<div id="push-up"></div>

<h1><strong>Welcome to Pierre's Candy Factory</strong></h1>

<p><em>-Your one go-to for your sweet needs-</em></p>

<h4><strong>About Pierre</strong></h4>
<p>Pierre started this company in 2021 after they moved to NYC. Their goal was to create unique foods at affordable prices and share memorable and rare cuisine with New York and the rest of the country. In order to expand the business so that more people can enjoy his wonderful food, this website was created.</p>

<div id="push-down"></div>