<div id="push-up"></div>
<footer>

  <h4 id="list1"><strong>
      @Html.ActionLink("LOGIN", "Login", "Account")
    </strong></h4>

  <h4 id="list1"><strong>
      @Html.ActionLink("REGISTER", "Register", "Account")
    </strong></h4>

  <h4 id="list2"><strong>
      @using (Html.BeginForm("Logoff", "Account"))
      {
        <input type="submit" class="btn btn-light" value="Log Out" />
      }
    </strong></h4>

</footer>