<header>
  <h4><strong><p>@Html.ActionLink("ABOUT", "Index", "Home")</p></strong></h4>
  <h4><strong><p>@Html.ActionLink("FLAVORS", "Index", "Flavors")</p></strong></h4>
  <h4><strong>@Html.ActionLink("TREATS", "Index", "Treats")</strong></h4>
</header>