@{
  Layout = "_Layout";
}

<div id="push-up"></div>

@using System.Security.Claims
@model Candyman.Models.Flavor

<h1>Create a New Flavor</h1>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <input type="submit" value="Add Flavor" />
}

<div id="push-down"></div>